<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hoceen</title>
	<!-- <link rel="manifest" href="manifest.json"/>
	<link rel="icon" href="/img/icon.png"> -->
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sweetalert2.css">
	<script src="/js/jquery-3.6.0.min.js"></script>
	<script src="/js/sweetalert2.all.min.js"></script>
	<script>
	const Toast = Swal.mixin({
    		toast: true,
		    position: 'top-end',
		    showConfirmButton: false,
		    timer: 3000
	});
	</script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light custom-nav">
		<a class="navbar-brand custom-nav-brand" href="/">
			<img class="logo" src="/img/logo.png" height="60px">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
    	</button>

		 <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<% if(loggedIn) { %>
				<div class="col-xl-11 text-auth">
					<button href="" onclick="openForm('/balance', 'withdraw')" class="btn-auth outline-primary">Saldo Box : Rp <%= amount %> </button>
					<a href="" onclick="logout()" class="btn-auth outline-primary">LOGOUT</a>
				</div>
			<% } else { %>
			<div class="col-xl-11 text-auth">
                <a href="/login" class="btn-auth outline-primary">MASUK</a>
                <a href="/register"class="btn-auth color-primary">DAFTAR</a>
            </div>
			<% } %>
		</div>
	</nav>
