@font-face {
    font-family: montserrat-semi;
    src: url(../fonts/Montserrat-Medium.ttf) format("truetype")
}

@font-face {
    font-family: montserrat-bold;
    src: url(../fonts/Montserrat-Bold.ttf) format("truetype")
}

@font-face {
    font-family: montserrat-thin;
    src: url(../fonts/Montserrat-Thin.ttf) format("truetype")
}

body {
    background-color: #fff;
    color: #071C4D;
}

html {
    /* for demo purposes only */
    margin: 0em;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

.custom-nav {
    font-family: 'montserrat-bold';
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: white;
    box-shadow: 0 15px 15px -15px rgba(0, 0, 0, .2);
}

.custom-nav-brand {
    margin-right: 80px !important;
}

.custom-navbar-nav .nav-item {
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
}

.about-me p {
    font-family: montserrat-semi;
    color: black;
    font-size: 12px;
}

footer {
    background: #0d1837;
    padding: 50px;
}

.add-item-btn{
    margin-right: 90px;
}
.btn-auth {
    font-family: montserrat-bold;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-size: 12px;
}

.color-primary {
    color: #ffff !important;
    background-color: #095384 !important;
    border-color: #095384 !important;
}

.outline-primary {
    color: #095384 !important;
    border-color: #095384 !important;
}

.title {
    color: black;
    font-family: montserrat-bold;
    font-size: 20px;
}

/*list barang*/
.list-barang .title {
    margin-left: 20px;
    color: black;
    font-family: montserrat-bold;
    font-size: 20px;
}


.costum-card-list {
    border: 0px;
    width: 330px;
    margin-top: 10px;
}

.costum-card-list span {
    color: var(--NN950,#212121);
    white-space: normal;
    font-size: 15px;
    line-height: 20px;

}

.costum-card-list p {
    font-family: montserrat-semi;
    font-size: 12px;
    line-height: 24px;
    color: #666;

}

.costum-card-list .info {
    margin-bottom: 4px;
}

.costum-card-list .author {
    font-family: montserrat-semi;
    font-size: 11px;
    margin-right: 7px;
    color: #999;
    text-transform: uppercase;
}

.costum-card-list .datetime {
    font-family: montserrat-semi;
    font-size: 11px;
    color: #999;
    text-transform: uppercase;
}

.costum-card-img {
    width: 250px;
    height: 200px;
    margin: 10px 18px 0px;
}

.rounded {
    border-radius: 20px !important;
}

.bg-white {
    background: #FFF;
}

.shadow-dark,
.desktop-header-3 .dropdown-menu,
.input-id{
    padding-left: 12px;
    min-width: 0;
    width: 80%;
    min-height: 0;
    color: var(--color-text-high,rgba(49,53,59,0.96));
    font-family: inherit;
    background-color: transparent;
    line-height: 20px;
    outline: none !important;
    border-radius: 8px;
    height: auto;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid var(--color-border,#E5E7E9);
}

.text-xl {
    font-size: 1.25rem;
}

.font-bold {
    font-weight: 700;
}

.about-name {
    color: #0d1837;
    font-family: montserrat-bold;
    font-size: 19px;
    text-transform: uppercase;
}
.text-main{
    color: #095384 !important;
}
.text-gray {
    --text-opacity: 1;
    color: #4a5568;
    color: rgba(74, 85, 104, var(--text-opacity));
}

.text-base {
    font-size: 1rem;
}

.text-auth {
    text-align: right;
}
.price {
    font-size:14px !important;
    font-family: montserrat-semi !important;
    font-weight: 700;
}

.my-input{
    height: 40px;
    border-radius: 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    overflow: hidden;
    -webkit-transition: border-color 280ms ease;
    transition: border-color 280ms ease;
    background-color: var(--color-page-background,#FFFFFF);
    border: 1px solid var(--color-border,#E5E7E9);
}
.my-form{
    padding-left: 12px;
    min-width: 0;
    min-height: 0;
    width: 100%;
    color: var(--color-text-high,rgba(49,53,59,0.96));
    font-family: inherit;
    background-color: transparent;
    line-height: 20px;
    border: none;
    outline: none;
    height: auto;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.my-label{
    font-weight: 400;
    font-size: 0.8571428571428571rem;
    line-height: 1.33;
    color: rgba(0,0,0,0.54);
}
.auth-card{
    border-radius: 3px !important;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    width: 400px;
}
.auth-title{
    text-align: center;
    margin: 0;
    font-weight: 600;
    font-size: 1.5714285714285714rem;
    color: rgba(0,0,0,0.7);
}
.auth-desc{
    text-align: center;
    color: rgba(0,0,0,0.54);
    font-size: 1rem;
}

.auth-button{
    background-color: var(--N75,#095384);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: not-allowed;
    display: block;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.1428571428571428rem;
    height: 48px;
    line-height: 22px;
    outline: none;
    position: relative;
    padding: 0 16px;
    text-indent: initial;
    -webkit-transition: background-color 300ms;
    transition: background-color 300ms;
    width: 100%;
    margin-top: 16px;
}
.auth-header{
    text-align: center;
    padding: 32px 0 9px;
}


@media (max-width: 1200px) {
    .text-auth {
        text-align: left !important;
    }

    .custom-nav-brand {
        margin-right: 20px !important;
    }

    .logo {
        margin-left: -50px !important;
    }

}

/*End Min 1200*/


@media (max-width: 1000px) {}

/*End Min 1000*/

@media (max-width: 991px) {}

/*End Min 991*/

@media (max-width: 767px) {}

/*End Max 767*/


@media (max-width: 570px) {
    .text-auth {
        text-align: left !important;
    }

    .logo {
        height: 50px;
    }

    .custom-nav-brand {
        margin-right: 0px !important;
    }
}

/*End Max 570*/

@media (max-width: 380px) {
    .text-auth {
        text-align: left !important;
    }

    .logo {
        height: 50px;
    }

    .custom-nav-brand {
        margin-right: 0px !important;
    }
}